@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f4f3eb;
  --foreground: #171717;
  --primaryWhite: #E9E9E9;
  --primaryLightGray: #a6a6a6;
  --primaryGray: #757575;
  --primaryBlack: #000000;
  --secondaryBlack: #1F1F1F;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #171717;
    --foreground: #f4f3eb;
  }
} */

/* body {
  color: var(--foreground);
  background: var(--background);
} */

/* [data-theme="dark"] body {
  color: white;
  background: var(--foreground);
} */

@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

.font-DM  {
  font-family: 'DM Sans', sans-serif;
}